@use 'mixins' as *;
@use 'keyframes' as *;
@use 'variables' as *;

body {
    background-color: #e8e8e8;
    overflow-x: hidden !important;
}

a {
    all: unset;
}

a:hover {
    cursor: pointer;
}


#spacer {
    padding-top: 70px;
}

.button {
    padding: 11px 19px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    border-radius: 14px;
    font-weight: 500;
}

.inv {
    background-color: #ffffff;
    border-color: #ffffff;
    color: black;
}

.button:hover {
    background-color: #808080;
    color: white;
}

#beige {
    background-color: beige;
    height: 100vh;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 100;

    h1 {
        display: inline-block;
        background-image: url('https://images.unsplash.com/photo-1498036882173-b41c28a8ba34?q=80&w=764&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 320px;
        font-weight: bolder;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    h2 {
        position: absolute;
        left: 50%;
        top: 53%;
        transform: translate(-50%, -50%);
    }

    a {
        text-decoration: none;
        color: white;
        background-color: deeppink;
        padding: 15px 50px;
        position: absolute;
        top: 64%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 15px;
        font-size: larger;
        font-weight: 500;
    }
}

.logo {
    overflow: hidden;
    height: 60px;
    @include flex(center);
    color: white;
    font-size: 12px;

    img {
        height: 100%;
        transform: scale(1.9);
        @include position(relative, 12px, -11px);
    }

    h2 {
        @include position(relative, $lt: -12px)
    }
}

nav {
    background-color: #1c1919;
    color: #ffffff;
    height: 70px;
    width: 100vw;
    letter-spacing: 1px;
    box-shadow: 1px 1px 10px 2px #000000bd;
    @include flex(center);
    @include position(fixed, 0, 0, 5);

    >div {
        width: 88%;
        margin: auto;
        @include flex(center, space-between);

        ul {
            @include flex(center, space-between);
            gap: 25px;
            font-family: $urba;

            li {
                list-style-type: none;
                display: flex;
                gap: 7px;
            }
        }
    }

    .button {
        font-weight: 600;
    }
}

footer {
    margin-top: 100px;
    background-color: #1c1919;
    color: white;
    font-family: $urba;
    padding: 90px 0;
    letter-spacing: 1px;
    @include flex(center);

    ul li {
        list-style-type: none;
    }

    >div {
        width: 88%;
        margin: auto;
    }
}

#box {
    display: grid;
    grid-template-columns: 3fr repeat(3, 1fr);
    row-gap: 10px;
    border: 2px solid white;
    padding: 4vw;
    border-radius: 18px;

    >p {
        font-weight: bold;
        font-size: large;
    }

    ul {
        @include flex($fd: column);
        gap: 18px;
    }
}

#inpu {
    @include flex(start, start, column);
    gap: 20px;

    >p {
        width: 90%;
    }
}

#inper {
    width: 90%;
    gap: 20px;
    @include flex();

    input {
        all: unset;
        padding: 11px 19px;
        border: 2px solid white;
        background-color: transparent;
        color: white;
        border-radius: 14px;
        font-weight: 500;
        width: 58%;
    }

    p {
        font-weight: bold;
    }
}

#small {
    font-size: 12px;
}

#ender {
    margin-top: 35px;
    @include flex(center, space-between);

    ul {
        @include flex(start, space-between);
        gap: 40px;
    }
}

.field {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    img {
        width: 100%;
        filter: brightness(55%);
    }

    .overlay {
        width: 60%;
        position: absolute;
        top: 43%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        text-align: center;
        color: white;
        padding: 0 2rem;
        @include flex(center, space-between, column);
        gap: 30px;
    }

    h1 {
        font-size: $h1;
    }

    p {
        font-size: $p;
    }

}

.boutons {
    display: flex;
    gap: 25px;

    .spc {
        background-color: transparent;
        border: 0px;
    }

    .spc:hover {
        background-color: transparent;
        border: 0px;
        font-size: 17px;
        color: blue !important;
    }
}

.eight {
    width: 88%;
    margin: auto;
}

.betn {
    @include flex(center, space-between, column);
    gap: 20px;
    text-align: center;
}

#black .button {
    color: black;
    border-color: black;
    margin: 59px 0 120px 0;
}

main {
    margin-top: 100px;

    h6 {
        font-size: 17px;
    }

    h2 {
        @include h2();
        width: 60%;
    }

    p {
        font-size: $p;
        width: 60%;
    }

    .button:hover {
        background-color: white;
        color: black;
    }
}

.perks,
.perks2 {
    margin-top: 65px;
    width: 100%;
    @include flex(start, space-between);
}

.perk {
    opacity: 0;
    width: 30%;
    height: 50vh;
    @include flex(center, $fd: column);
    gap: 23px;

    h3 {
        font-size: 32px;
        font-weight: 620;
    }

    p {
        width: 100%;
    }

    h4 {
        font-size: 21px;
        font-weight: 650;
        width: 370px;
    }

    h5 {
        font-size: $p;
        font-weight: 700;
    }
}

.perks2 .perk {
    gap: 28px;
}

.tcard {
    @include flex(center, space-between, column);
    gap: 3px;
    margin-top: 9px;
}

.circimg {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    @include flex($jc: center);

    img {
        width: 100%;
    }
}

#b img {
    transform: scale(3.2) translateY(10px);
}

.perkimg {
    filter: brightness(80%);
    height: 49%;
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 13px;

    img {
        width: 100%;
    }
}

.dark {
    color: white;
    background-color: #1c1919;
}

.numcom {
    padding: 25px 0;
    display: flex;
    gap: 20px;

    h3 {
        font-size: 18px;
    }
}

.pics {
    @include flex(center, space-between);
    gap: 40px;
    margin: 20px 0 165px 0;

    >div {
        width: 50%;
    }
}

.pic2 {
    position: relative;
    left: 40px
}

.pictext {
    opacity: 0;
    @include flex(start, space-between, column);
    gap: 20px;

    h6 {
        width: 100%;
    }

    h2 {
        width: 80%;
    }

    p {
        width: 83%;
    }

    .boutons .button {
        text-align: center;
    }
}

.picpic {
    opacity: 0;
    overflow: hidden;
    display: flex;
    justify-content: end;
    aspect-ratio: 5 / 4;
    width: 50%;
    justify-content: center;
    border-radius: 20px;
}

.line {
    background-color: #d1d1d1;
    width: 100vw;
    height: 2px;
}

#trans {
    background-color: #e8e8e8;
}

.hund {
    margin-top: 100px;
}

.perkimg2 {
    width: 160px;
    height: 55px;
    @include flex(center, center);
    overflow: hidden;

    img {
        width: 100%;
    }
}

#blacks {
    .button {
        color: black;
        border-color: #1c1919;
    }

    .inv {
        color: white;
        background-color: #1c1919;
    }
}

.hund3 {
    margin-top: 40px;
}

#blacks .button:hover,
#gold:hover {
    background-color: #efb700;
    color: black;
}

#hund2 {
    margin-top: 130px;
    margin-bottom: 90px;

    h2 {
        width: 600px;
    }

    p {
        width: 660px;
    }
}

.banner {
    overflow: hidden;
    aspect-ratio: 11/6;
    border-radius: 20px;

    img {
        width: 100%;
        @include position(relative, -520px);
    }
}

#subscribe:hover {
    background-color: white;
    color: black;
}

.maflex {
    @include flex(baseline);
    @include position(relative, -25px);
    gap: 100px;

    h1 {
        font-size: 60px;
        line-height: 60px;
        margin-bottom: 20px;
    }

    main {
        width: 50%;

        p {
            width: 80%;
        }
    }

    aside {
        width: 50%;
    }
}

aside {
    @include flex(stretch, space-between, column);
    gap: 20px;
    width: 50%;

    a {
        color: blue;
        text-decoration: underline;
    }

    h2 {
        @include h2();
    }

    #forgot {
        text-align: end;
        margin-bottom: 20px;
    }
}

.logger {
    @include flex(stretch, space-between, column);
    gap: 15px;

    input {
        all: unset;
        padding: 11px 19px;
        border: 2px solid #8080808f;
        background-color: white;
        border-radius: 10px;
        font-weight: 500;
    }

    textarea {
        all: unset;
        padding: 11px 19px;
        border: 2px solid #8080808f;
        background-color: white;
        border-radius: 10px;
        font-weight: 500;
        white-space: pre-wrap;
        word-wrap: break-word;
        overflow-wrap: break-word;
        height: 90px;
    }

    .submit {
        background-color: #1c1919;
        color: white;
        cursor: pointer;
    }
}

#file {
    all: unset;
}

.imgm img {
    width: 100%;
    @include position(relative, $lt: -35px);
}

.hover:hover,
.dropdown:hover {
    .dropdown {
        display: block;
    }
}

#sizer {
    height: 40px;
    width: 100%;
    @include position(absolute, -15px, -20px);
}

.dropdown {
    display: none;
    @include position(absolute, 55px);

    ul {
        @include position(relative, 0px, -20px);
        @include flex(start, space-between, column);
        gap: 0px;

        li {
            background-color: #282424;
            padding: 15px 35px;
            text-align: start;
            border: 2px solid black;
            border-top: none;
        }
    }
}

.waves {
    width: 100vw;
    height: auto;
    @include flex(start);
    position: absolute;
    bottom: -62px;
    z-index: -1;

    img {
        width: 100%;
    }
}

#google {
    display: flex;
    gap: 20px;
    color: black;
    background-color: white;
    border-color: gray;
}

#google:hover {
    background-color: gray;
    cursor: pointer;
    color: white;
}

#field2 {
    height: 70vh;

    .overlay {
        top: 40%;
        left: 40%;
        align-items: start;
    }
}

#about {
    h1 {
        font-size: $h1;
    }

    h2 {
        @include h2();
    }

    p {
        font-size: $p;
    }
}

.flex1 {
    width: 88%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
}

.flextext {
    border: black;
    @include flex(center, start, column);
    gap: 35px;
}

.flexpic {
    overflow: hidden;
    @include flex(center, center);

    img {
        width: 100%;
    }
}

.space {
    margin-top: 60px;
}

.higher {
    margin-top: 30px;
}

.slide {
    position: relative;
    height: 80vh;

    img {
        width: 100%;
        height: auto;
        border-radius: 12px;
        box-shadow: 0 8px 24px #0000001a;
        object-fit: cover;
    }
}

.largespace{
    padding: 80px 0;
}

.bgblack{
    background-color: #1c1919;
    color: white;
    h2{
        @include h2();
    }
}

.cardsa{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.carde{
    height: 64vh;
    margin: 60px 0 90px 0;
}

.juan{
    padding-top: 60px;
}

.cardimage{
    overflow: hidden;
    height: 100%;
    img{
        width: 100%;
        filter: brightness(70%);
        z-index: -1;
    }
}
.cardoverlay{
    position: relative;
    bottom: 90px;
    h3{
        font-size: 32px;
    }
}

.randomman{
    margin-top: 100px;
    h2{
        @include h2();
    }
    p{
        font-size: $p;
    }
}








@media (max-width: 900px) {
    #beige {
        h1 {
            font-size: 235px;
        }

        h2 {
            font-size: large;
            top: 48%;
        }

        a {
            top: 58%;
        }
    }
}

@media(max-width: 500px) {
    #beige {
        h1 {
            font-size: 150px;
        }

        h2 {
            font-size: 18px;
            top: 47%;
            width: 200px;
        }

        a {
            padding: 16px 30px;
            font-size: 4vw;
        }
    }
}